html {
  font-family: sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 6rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0 rgba(18, 86, 136, 0.11);
}

body {
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

img {
  max-width: 100%;
}

.gif-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-figure {
  flex-basis: calc(33.333% - 4rem);
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
  position: relative;
}

.grid-gif {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: none;
}

.grid-gif-wrap {
  position: relative;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-form {
  border: 20px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  max-width: 800px;
  flex-basis: 500px;
}

.search-form input[type="search"] {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border: 0;
  padding: 10px;
  background: white;
  line-height: 50px;
  font-size: 30px;
  border-radius: 0;
  outline: 0;
  border-right: 1px solid rgba(0,0,0,0.2);
  -webkit-appearance: none;
  width: 100%;
}

.gif-modal {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
